/* --------------------------------
	Title: Main Stylesheet
	Author: Cas Roberts
	Date: 2014-02-25
	------------------------------- */
	
/* ------ PALETTE ---------- 
	http://www.colourlovers.com/palette/3268332/Kayaks
	Header Nav, H2: 	#BCB5A3	- tan
	H1,Blog Post Head:	#E94849 - salmon
						#FDB455 - gold
	Blog Post Head:		#BDE98F - light green
	Project Post Head:  #2C5244 - dark green
	General Text:		#6d6d6d - grey
*/
	
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, cite, code, img, b, u, i, center, dl, dt, dd, 
ol, ul, li, table, caption, tbody, tfoot, thead, 
tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, #footer, #header, menu, nav, 
section, summary, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face{
	font-family: handwritten;
	src: url(handwritten.ttf);
	font-style: normal;
	font-stretch: ultra-expanded;
}

@font-face:{
	font-family: handwritten;
	src: url(handwritten_bold.ttf);
	font-style: bold;
	font-stretch: ultra-expanded;
}

@font-face{
	font-family: handwritten_sm;
	src: url(handwritten2.ttf);
	font-style: normal;
	font-stretch: ultra-expanded;
}

@font-face:{
	font-family: handwritten_sm;
	src: url(handwritten2_bold.ttf);
	font-style: bold;
	font-stretch: ultra-expanded;
}
@font-face{
	font-family: Overpass;
	src: url(Overpass.ttf);
	font-style: normal;
	font-stretch: expanded;
}
@font-face{
	font-family: handwritten;
	src: url(Overpass_Bold.ttf);
	font-style: bold;
	font-stretch: expanded;
}
@font-face{
	font-family: handwritten;
	src: url(Overpass_Light.ttf);
	font-style: lighter;
	font-stretch: expanded;
}

*, *:after, *:before {
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
		    box-sizing: border-box;
}

body { line-height: 1; }

/* LAYOUT STYLES */
body {
  min-height: 595px;
  font-size: 2em;
  line-height: 1.5; 
  background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
  font-family: Overpass, 'Helvetica Neue', Helvetica, Arial, serif;
  color: #6d6d6d;
}

a { color: #E94849; }
a:hover { color: #2C5244; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

#main { width: 60%; margin: 0 auto; }
#content, #bio, #social{ 
	position: relative;
	float: left;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
		    box-sizing: border-box;         /* Opera/IE 8+ */
}

/* HEADER */
#header  { height: 200px; margin: 0 auto;}

#header h1 {
	font-family: handwritten_sm, Overpass, 'Helvetica Neue', Helvetica, Arial, serif; 
	font-size: 3em;
	line-height: 1em;
	text-align: center;
	color: #E94849;
	padding: 30px 0 10px 0;
}

/* NAV */
#header .nav {
	text-align: center;
}
#header .nav a{ 
	color: #6d6d6d; 
	padding: 0px 20px 0 40px; 
}

#header .nav a:hover{ 
	color: #2C5244; 
	padding: 0px 20px 0 40px; 
}

/* GENERAL CONTENT-BOX FORMAT */
#content-box {
	overflow: hidden;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	padding: 25px 10px 10px 10px;	
	margin: 15px 10px 10px 30px;
}

#content-box:before{
	box-sizing: border-box;	
	position: absolute;
	font-size: 14px;
	letter-spacing: 2px;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1px 10px 0;
	color: white;
}

/* CONTENT */
#content { width: 100%; }

#content article {
	font-size: 30%;
	width: 500px;
	height: 300px;
	position: relative;
	margin: 10px auto;
	/* float: left; */
}

.blog-post:before {
	background: #FDB455;
	content: "blog post";
}

.project-post:before {
	background: #2C5244;
	content: "project update";
}

/* SOCIAL */
#social { width: 100%;}

#social .bar {
	width: 175px;
	margin: 10px auto;
	border-top:1px solid #6d6d6d;
}

#social .bar:before{
	content: "";
	background-color: #6d6d6d;
    height: 1px;
    display: block;
    top: -1px;
    position: relative;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	
}

#social img {
	width: 25px;
	margin-right: 2px;
}

/* 404 PAGE */
#main .bgtext {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 45vw;
	margin-top: -6vw;
	color: #D3D3D3;
	padding: 0px;
	line-height: 1em;
}
#main .content404 { 
	position: relative;
	display: block;
	width: 52vw; 
	margin: 15vw auto;
	padding: 20px;
	
}
#main .content404 p {
	font-size: 4vw;
	margin: 0;
	padding: 0;
}
#main .content404 a {
	float: right;
	font-size: 20px;
}

.rounded-corners {
	   -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	 	    border-radius: 10px; /* future proofing */
	 -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

canvas{
	width: 620px;
	height: 620px;
}

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  color: #222;
  margin-bottom: 30px;
  font-size: 14px;
}

code {
  background-color: #f2f2f2;
  border: solid 1px #ddd;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #303030;
  color: #f2f2f2;
  text-shadow: none;
  overflow: auto;
}
pre code {
  color: #f2f2f2;
  background-color: #303030;
  border: none;
  padding: 0;
}

ul, ol, dl {
  margin-bottom: 20px;
}


/* COMMON STYLES */

hr {
  height: 1px;
  line-height: 1px;
  margin-top: 0;
  padding-bottom: 0;
  border: none;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  border: 1px solid #ebebeb;
  text-align: center; 
  font-weight: 300;
}

form {
  background: #f2f2f2;
  padding: 20px;
  
}


/* GENERAL ELEMENT TYPE STYLES */

h1 {
  font-size: 32px;
} 

h2 {
  font-size: 22px;
  font-weight: bold;
  color: #303030;
  margin-bottom: 8px;
} 

h3 {
  color: #d5000d;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
} 
 
h4 {
  font-size: 16px;
  color: #303030;
  font-weight: bold;
} 

h5 {
  font-size: 1em;
  color: #303030;
} 

h6 {
  font-size: .8em;
  color: #303030;
} 

p {
  font-weight: 300;
  margin-bottom: 20px;
}
 
a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
}

ul li {
  list-style: disc inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 3px;
}

dl dt {
  color: #303030;
}

.button img {
	width: 25px;
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.bio { display: none; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 561px) {
	  #header { width: 500px; font-size: 60%; }
	  #header h1 { font-size: 75px; }
	  #main .content404 { width: 80vw; margin: 5vw auto; }
}
